{# templates/task/form.html.twig #}
{% extends 'base.html.twig' %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h2>Insert new device data</h2>
    <br>
    {{ form(form) }}
{% endblock %}