{% extends 'base.html.twig' %}


{% block body %}
    <h2>Device registered list</h2>

    <ul class="list-group">
        <li class="list-group-item">Dapibus ac facilisis in</li>
    </ul>

    <form>
        <button class="brn btn-primary">Add device driver</button>
        <button class="brn btn-primary">Add device</button>
    </form>

{% endblock %}
